/.gitattributes text eol=lf
/.editorconfig text eol=lf
/*.json text eol=lf
/*.md text eol=lf
/pom.xml text eol=lf
/mvnw text eol=lf
/mvnw.cmd text eol=crlf

/common/** text eol=lf
/docs/** text eol=lf
/services/** text eol=lf
